body {
    background-image: url("../static/2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #545454;
    font-family: Exo\ 2Variable,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 14px;
}
.chat {
    width: 100%;
    max-width: 700px;
    background-color: #f2f2f2;
    font-family: Exo 2Variable,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    overflow-y: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    }
    
    .chat-header {
    background-color: #ffd140;
    color: #fff;
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
    }
    
    .chat-header {
     
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-position: left center;
        background-color: #ffd140;
        color: #fff;
        padding: 10px;
        display: flex;
        align-items: center;
        border-radius: 8px 8px 0 0;
        }
    
    .chat-history {
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: 600px
    }
    
    .question {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border-radius: 20px 20px 0px 20px;
    max-width: 80%;
    align-self: flex-end;
    margin-bottom: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    }
    
    .reply {
    background-color: #007533;
    color: #fff;
    padding: 10px;
    border-radius: 20px 20px 20px 0px;
    max-width: 80%;
    align-self: flex-start;
    margin-bottom: 10px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
    }
    
    .chat-input {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    }
    
    .chat-input input[type=text] {
    flex: 1;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    }
    
    .chat-input button {
    background-color: #007533;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    }
    
    .chat-input button:hover {
    cursor: pointer;
    opacity: 0.8;
    }