<html>
    <head>
        <title>NextGen Mentors</title>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/logic.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    </head>
    <body onload="init()">

        <div id="chat" class="chat">
            <div class="chat-header">
              <img src="static/logo.png"  width="100" height="100" alt="Chatbot-ikonen">
              <h3></h3><b></b>
            </div>
            <div id="history" class="chat-history"></div>
            <div class="chat-input">
              <input type="text" id="q" placeholder="Skriv din fråga här" onkeyup="javascript:if(event.keyCode == 13) make_post_request('ask', ask, 'q');" />
              <button onclick="javascript:make_post_request('ask', ask, 'q');">Skicka</button>
            </div>
          </div>
    </body>
</html>